# Python 일반
__pycache__/
*.py[cod]
*.pyo

# Jupyter 및 IDE 캐시
.ipynb_checkpoints/
*.swp
.DS_Store
.env
.venv
*.sqlite3

# Streamlit
.streamlit/secrets.toml

# 데이터/보안
gspread_key.json
ltv_input_history.csv
ltv_archive_deleted.xlsx
uploaded.pdf
tmp*.pdf
*.log
