# 👉 Python / Streamlit 일반 캐시 및 임시 파일
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/

# 👉 Streamlit 임시 파일
.streamlit/

# 👉 사용자 데이터 및 민감 파일
ltv_input_history.csv
deleted_ltv_history.xlsx
gspread_key.json

# 👉 OS별 시스템 파일
.DS_Store
Thumbs.db
